beautifulsoup4==4.6.0
click==6.7
dominate==2.3.1
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.3
openpyxl==2.5.4
pandas==0.23.0
parsel==1.4.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.19.1
selenium==3.8.0
six==1.11.0
tqdm==4.23.3
xlrd==1.1.0
visitor==0.1.3
Werkzeug==0.14.1
WTForms==2.2.1
